.carrossel-scroll {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 6px;
  padding: 10px;
  padding-top: 0;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; 
  background: transparent;
}

.carrossel-scroll::-webkit-scrollbar {
  display: none;
}

.evento-card {
  flex: 0 0 auto;
  width: 130px;
  height: 180px;
  border-radius: 12px;
  overflow: hidden;
  scroll-snap-align: center;
  background: transparent;
  box-shadow: none;

  img {
    width: 90%;
    height: 100%;
    object-fit: cover;
  }
}
