.carrossel-scroll {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 10px;
  padding-top: 0;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; 
  background: transparent;
}

.carrossel-scroll::-webkit-scrollbar {
  display: none;
}

.evento-card {
  width: 100%;
  height: 150px; // Defina uma altura fixa para o card
  display: block;
  border-radius: 8px;
  overflow: hidden;

  ion-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  // Estilo para o skeleton dentro do card
  ion-skeleton-text {
    width: 100%;
    height: 100%;
    // Remove a margem padrão para preencher o card
    margin: 0;
  }
}


.evento-card {
  flex: 0 0 auto;
  width: 130px;
  height: 180px;
  border-radius: 12px !important;
  overflow: hidden;
  scroll-snap-align: center;
  background: transparent;
  box-shadow: none;

  img {
    width: 90%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
}
