<app-header></app-header>

<ion-content [fullscreen]="true">

  <ion-segment [(ngModel)]="status" class="minimal-segment bg-transparent">
    <ion-segment-button value="irei" class="bg-transparent">
      <ion-label class="bg-transparent">Irei</ion-label>
    </ion-segment-button>
    <ion-segment-button value="jaFui" class="bg-transparent">
      <ion-label class="bg-transparent">Já Fui</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="status">

    <ng-container *ngSwitchCase="'irei'">
      <div *ngFor="let grupo of eventosIreiAgrupados">
        
        <ion-list-header>{{ grupo.mes }}</ion-list-header>
        
        <ng-container *ngFor="let evento of grupo.eventos">
          <div [routerLink]="['/ingresso', evento.id]">
            <ion-item lines="none" class="evento-item">
              <ion-thumbnail slot="start">
                <ion-img 
                  [src]="evento.imagemUrl"
                  class="evento-imagem">
                </ion-img>
              </ion-thumbnail>

              <ion-label>
                <h2 class="evento-titulo">{{evento.titulo}}</h2>
                <p class="evento-local">
                  <ion-icon name="location-outline"></ion-icon>
                  {{evento.local}}
                </p>
              </ion-label>

              <div class="evento-data" slot="end">
                <span class="mes">{{evento.dataMes}}</span>
                <span class="dia">{{evento.dataDia}}</span>
                <span class="dia-semana">{{evento.diaDaSemana}}</span>
              </div>
            </ion-item>
          </div>
        </ng-container>
      </div>

      <div *ngIf="eventosIreiAgrupados.length === 0 && !isLoading" class="ion-padding ion-text-center">
        <p>Você não tem eventos futuros confirmados.</p>
      </div>
    </ng-container>


    <ng-container *ngSwitchCase="'jaFui'">
      <div *ngFor="let grupo of eventosJaFuiAgrupados">
        
        <ion-list-header>{{ grupo.mes }}</ion-list-header>
        
        <ng-container *ngFor="let evento of grupo.eventos">
          <div [routerLink]="['/ingresso', evento.id]">
            <ion-item lines="none" class="evento-item">
              <ion-thumbnail slot="start">
                <ion-img 
                  [src]="evento.imagemUrl"
                  class="evento-imagem">
                </ion-img>
              </ion-thumbnail>

              <ion-label>
                <h2 class="evento-titulo">{{evento.titulo}}</h2>
                <p class="evento-local">
                  <ion-icon name="location-outline"></ion-icon>
                  {{evento.local}}
                </p>
              </ion-label>

              <div class="evento-data" slot="end">
                <span class="mes">{{evento.dataMes}}</span>
                <span class="dia">{{evento.dataDia}}</span>
                <span class="dia-semana">{{evento.diaDaSemana}}</span>
              </div>
            </ion-item>
          </div>
        </ng-container>
      </div>

      <div *ngIf="eventosJaFuiAgrupados.length === 0 && !isLoading" class="ion-padding ion-text-center">
        <p>Você não tem eventos passados.</p>
      </div>
    </ng-container>

  </div>

</ion-content>

<app-navbar></app-navbar>