<ion-footer>
  <ion-toolbar color="light">
    <ion-row>
      
      <ion-col class="d-flex flex-column align-items-center justify-content-center">
        <ion-img src="../../assets/icones-navbar/Home.svg" id="home-icon"></ion-img>
        <p class="text-center small mb-0">Home</p>
      </ion-col>

      <ion-col class="d-flex flex-column align-items-center justify-content-center">
        <ion-img src="../../assets/icones-navbar/Pesquisa.svg" id="home-icon"></ion-img>
        <p class="text-center small mb-0">Pesquisa</p>
      </ion-col>

      <ion-col class="d-flex flex-column align-items-center justify-content-center">
        <ion-img src="../../assets/icones-navbar/Confirmados.svg" id="home-icon"></ion-img>
        <p class="text-center small mb-0">Confirmados</p>
      </ion-col>

      <ion-col class="d-flex flex-column align-items-center justify-content-center">
        <ion-img src="../../assets/icones-navbar/Meu Perfil.svg" id="home-icon"></ion-img>
        <p class="text-center small mb-0">Meu Perfil</p>
      </ion-col>

    </ion-row>
  </ion-toolbar>
</ion-footer>