<ion-header>
  <ion-toolbar>
    <ion-title>Créditos</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="fechar()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Desenvolvimento</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Este aplicativo foi desenvolvido por:</p>
      <h2>Alan Rodrigues</h2>
      <p>Programador Full Stack</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Agradecimentos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Agradeço a todos que apoiaram este projeto e ajudaram de alguma forma no desenvolvimento.</p>
    </ion-card-content>
  </ion-card>

  <ion-item lines="none">
    <ion-icon name="logo-github" slot="start"></ion-icon>
    <ion-label>
      <a href="https://github.com/alanzink1" target="_blank">Meu GitHub</a>
    </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-icon name="logo-linkedin" slot="start"></ion-icon>
    <ion-label>
      <a href="https://linkedin.com/in/alanzink1" target="_blank">Meu LinkedIn</a>
    </ion-label>
  </ion-item>
</ion-content>
