<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Criar Conta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="registroForm" (ngSubmit)="registrar()">
    
    <div class="avatar-uploader" (click)="uploadFoto.click()">
      <img [src]="fotoPreview" *ngIf="fotoPreview" class="profile-avatar">
      <div *ngIf="!fotoPreview" class="avatar-placeholder">
        <ion-icon name="camera-outline"></ion-icon>
        <span>Adicionar Foto</span>
      </div>
      <input type="file" #uploadFoto (change)="onFileSelected($event)" accept="image/*" hidden>
    </div>

    <ion-item>
      <ion-input label="Nome Completo" labelPlacement="floating" formControlName="nome" type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="E-mail" labelPlacement="floating" formControlName="email" type="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Telefone" labelPlacement="floating" formControlName="telefone" type="tel" placeholder="(00) 00000-0000"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select label="Cidade" labelPlacement="floating" formControlName="cidade" required>
        <ion-select-option value="Cesário Lange">Cesário Lange</ion-select-option>
        <ion-select-option value="Tatuí">Tatuí</ion-select-option>
        <ion-select-option value="Pereiras">Pereiras</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
      <ion-input label="Senha" labelPlacement="floating" formControlName="senha" type="password" required></ion-input>
    </ion-item>
    
    <ion-button expand="block" type="submit" [disabled]="registroForm.invalid || isLoading" class="ion-margin-top">
      <ion-spinner *ngIf="isLoading"></ion-spinner>
      <span *ngIf="!isLoading">Criar minha conta</span>
    </ion-button>
  </form>
  
  <ion-text class="ion-text-center" color="medium"><p>ou</p></ion-text>
  
  <ion-button expand="block" fill="outline" (click)="loginComGoogle()">
    <ion-icon name="logo-google" slot="start"></ion-icon>
    Entrar com Google
  </ion-button>

</ion-content>