<ion-header>
  <ion-toolbar>
    <ion-title>Editar Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="fechar()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="salvar()">

    <!-- Upload da foto -->
    <div class="avatar-uploader" (click)="uploadFoto.click()">
      <img [src]="fotoPreview" *ngIf="fotoPreview" class="profile-avatar">
      <div *ngIf="!fotoPreview" class="avatar-placeholder">
        <ion-icon name="camera-outline"></ion-icon>
        <span>Alterar Foto</span>
      </div>
      <input type="file" #uploadFoto (change)="onFileSelected($event)" accept="image/*" hidden>
    </div>

    <ion-item>
      <ion-input label="Nome" labelPlacement="floating" [(ngModel)]="nome" name="nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="E-mail" labelPlacement="floating" [(ngModel)]="email" name="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Telefone" labelPlacement="floating" [(ngModel)]="telefone" name="telefone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-select label="Cidade" labelPlacement="floating" [(ngModel)]="cidade" name="cidade">
        <ion-select-option value="Cesário Lange">Cesário Lange</ion-select-option>
        <ion-select-option value="Tatuí">Tatuí</ion-select-option>
        <ion-select-option value="Pereiras">Pereiras</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" type="submit" class="ion-margin-top">Salvar</ion-button>
  </form>
</ion-content>
