.carrossel-scroll {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 12px;
  padding: 10px;
  padding-top: 0;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; 
}

.carrossel-scroll::-webkit-scrollbar {
  display: none;
}


.evento-card {
  flex: 0 0 auto;
  width: 330px;
  height: 160px;
  border-radius: 12px;
  overflow: hidden;
  scroll-snap-align: center;
  background: transparent;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
