<ion-header>
  <ion-toolbar>
    <ion-title>Adicionar Evento</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="fechar()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="adicionarEventoForm" (ngSubmit)="adicionarEvento()">
    
    <div class="avatar-uploader" (click)="uploadFoto.click()">
      <img [src]="fotoPreview" *ngIf="fotoPreview" class="profile-avatar">
      <div *ngIf="!fotoPreview" class="avatar-placeholder">
        <ion-icon name="camera-outline"></ion-icon>
        <span>Adicionar Foto</span>
      </div>
      <input type="file" #uploadFoto (change)="onFileSelected($event)" accept="image/*" hidden>
    </div>

    <ion-item>
      <ion-input label="Título" labelPlacement="floating" formControlName="titulo"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="adicionarEventoForm.get('titulo')?.hasError('required') && adicionarEventoForm.get('titulo')?.touched">
      O título é obrigatório.
    </ion-text>

    <ion-item>
      <ion-label position="stacked">Categorias</ion-label>
      <ion-searchbar
        [value]="filtro"
        (ionInput)="filtrarCategorias($event)"
        placeholder="Digite para buscar categorias..."
      ></ion-searchbar>
    </ion-item>

    <ion-item lines="none">
      <ion-chip *ngFor="let categoria of categoriasSelecionadas; let i = index" color="primary">
        {{ categoria }}
        <ion-icon name="close-circle" (click)="removerCategoria(i)"></ion-icon>
      </ion-chip>
    </ion-item>

    <ion-list *ngIf="categoriasFiltradas.length > 0">
      <ion-item button *ngFor="let cat of categoriasFiltradas" (click)="adicionarCategoria(cat)">
        {{ cat }}
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-input
        #autocomplete  
        label="Pesquisar Localização"
        labelPlacement="floating"
        formControlName="local"
        type="text">
      </ion-input>
    </ion-item>


    <div #mapElement id="map" style="height: 300px; margin-top: 10px;"></div>

    <ion-item>
      <ion-textarea label="Descrição" labelPlacement="floating" formControlName="descricao" autoGrow="true"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-textarea label="Regras" labelPlacement="floating" formControlName="regras" autoGrow="true"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-input label="Valor" labelPlacement="floating" formControlName="valorIngresso" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Data" labelPlacement="floating" formControlName="data" type="date"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Nome do Local" labelPlacement="floating" formControlName="nomeLocal"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Chave PIX" labelPlacement="floating" formControlName="chavePix"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Nome Titular PIX" labelPlacement="floating" formControlName="titularPix"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Limite Ingressos" labelPlacement="floating" formControlName="limiteIngressos" type="number"></ion-input>
    </ion-item>
    
    <ion-button 
      expand="block" 
      type="submit" 
      class="ion-margin-top" 
      [disabled]="isLoading">
      
      <ion-spinner *ngIf="isLoading"></ion-spinner>
      <span *ngIf="!isLoading">Criar evento</span>
    </ion-button>

  </form>
</ion-content>